// You can get these by signing up for a developer account at:
// http://dev.twitter.com/

exports.TWITTER_CONSUMER_KEY = "consumerKey"
exports.TWITTER_CONSUMER_SECRET = "consumerSecret"
exports.TWITTER_ACCESS_TOKEN = "accessToken"
exports.TWITTER_ACCESS_SECRET = "accessTokenSecret"