extends layout

block content
	h1= title
	h3 Convert your old and busted Spotify playlists to the new hotness, Rdio.
	p First step: 
		a(href="/login") Log in To Rdio (or register if you haven't already)