doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-select.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js")
		script(type="text/javascript", src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")
		script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js")
		script(type="text/javascript", src="js/bootstrap-select.min.js")
		script(type="text/javascript", src="js/mixtrip.js")

	body
		block content