extends layout

block content
	h1= title
	textarea#playlist
		|http://open.spotify.com/track/7tYqhHA60UAKh3POdhsaL8
	button#submit Create Playlist
	table#foundTracks Spotify Tracks
		thead
			th Spotify ID
			th Artist
			th Track Name
		tbody

	div#missedTracks 
		h3 Missed Tracks
		div