extends layout

block content
	h1= title
	textarea#playlist
	button#submit Create Playlist
	table#foundTracks Spotify Tracks
		thead
			th Spotify
			th Rdio
		tbody

	div#missedTracks 
		h3 Missed Tracks
		div