body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



div#playlistTarget {
	border-radius: 100px;

}

.activeDrag {
 	background-color: #C4ABFE !important;
}

.dragComplete{
	background-color: #9669FE;
}

.select {
	margin-top: 5px;
}